<div id="main">
  <!-- <hinv-rooms></hinv-rooms> -->
  <!-- <hinv-employee></hinv-employee> -->

  <!-- <hinv-container>
    <hinv-rooms> </hinv-rooms>
    <h1>This is from ng-content</h1>
    <hinv-employee></hinv-employee>
  </hinv-container> -->

  <div #name></div>

  <!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'user'">
    Welcome User
  </div>
  <div *ngSwitchCase="'admin'">
    <hinv-rooms></hinv-rooms>
  </div>
  <div *ngSwitchDefault>
    <h1>Hello World!</h1>
  </div>
</div> -->

  <!-- 動態產生組件 -->
  <!-- <div>
  <ng-template #user></ng-template>
  <h1>Hello World</h1>
</div> -->
</div>
<!-- <a [routerLink]="'rooms'">Rooms</a>
<br>
<a [href]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->
